<div id="twrap">
    <div id="twrapback"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <i class="fa fa-comment-o"></i>
            <p>Never ever late to choose the Mobileadelaide be your website designer and maintainer. They provide the profesisonal service and supproted by the expert technique team.</p>
            <h4><br/>Dynamism Dance</h4>
            <p>Adelaide</p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/twrap -->